<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"> 
    <script defer type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
</head>
<body>
<div class="navbar" id="nav">
    <a class="logo" href="{{ url_for('views.home') }}">
        <img src="/static/img/librarylogo.svg">
    </a>

    <div class="nav_left">
        <a class="nav_book" href="{{ url_for('views.home') }}">Home</a>
        <a class="nav_lend_book" href="{{ url_for('views.books') }}">Books</a>
    </div>
    <div class="nav_right">
        <a class="nav_lend_book" href="{{ url_for('views.lend') }}">Lend a Book</a>
    </div>
    <br>
</div>


{% block content %}{% endblock %}

</body>
</html>