{% extends "base.html" %} <!-- connects the content in base.html to this file -->

{% block title %} Library - Books {% endblock %} <!-- adds title to the page -->

{% block content%} <!-- prints the content inside of it -->
<body>
<div class="bookbody">
    <div class="bookrows">
    {% if books %}<!-- #if theres books in the database, it will print it -->
    <div class="books"> <!-- #the box of the books -->
        {%for book in books%}
        <div class="single_books"> <!-- #individual books -->
            <h2>{{book.title}}</h2>
            <h3>{{book.author}}</h3>
            <h3>{{book.isbn}}</h3>
        </div>
    {%endfor%}
    </div>
    </div>
{%endif%}
</div>
</body>

{% endblock %}