<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"> 
    <title>books</title>
</head>
<body>
<div class="bookbody">
    <div class="bookrows">
    {% if books %}<!-- #if theres books in the database, it will print it -->
    <div class="books"> <!-- #the box of the books -->
        {%for book in books%}
        <div class="single_books"> <!-- #individual books -->
            <h2>{{book.title}}</h2>
            <h3>{{book.author}}</h3>
            <h3>{{book.isbn}}</h3>
        </div>
    {%endfor%}
    </div>
    </div>
{%endif%}
</div>
</body>
</html>