{% extends "base.html" %} <!-- connects the content in base.html to this file -->

{% block title %} Library - Delete {% endblock %} <!-- adds title to the page -->

{% block content%} <!-- prints the content inside of it -->
<body>
    <div class="delete_form">
        <form method="POST">
            <label for="id" >id:</label><br>
            <input type="id" id="id" name="id" placeholder="'1'"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

{% endblock %}