{% extends "base.html" %} <!-- connects the content in base.html to this file -->

{% block title %} Library {% endblock %} <!-- adds title to the page -->

{% block content%} <!-- prints the content inside of it -->

<body class="homebody">


<div class="frontpage">
    <div class="text">
        <a class="mainheading" href="/books">
            <h1>The Grand Library.</h1>
        </a>
    </div>
</div> 

<footer>
    <div class="search" id="search">
        <h1>Looking for books? Search for a book title, author or ISBN.</h1>
        <div class="form">
            <form method="POST">
                <label for="title"></label><br>
                <input type="search" id="term" name="search" style="width: 225px;" value="" placeholder="'Animal Farm' , 'George Orwell' etc..."><br>
                <button type="submit"  id="button_addon">
                  </button>     
                <a class="lendbutt" href="/lend">
                    <p>Can't find what your looking for? Lend a book!</p>
                </a>
            </form>
        </div>
    </div>
</footer>
</body>

{% endblock %}