{% extends "base.html" %} <!-- connects the content in base.html to this file -->

{% block title %} Library {% endblock %} <!-- adds title to the page -->

{% block content%} <!-- prints the content inside of it -->

<body class="homebody">
<div class="frontpage">
    <div class="text">
        <h1>The Grand Library.</h1>
        <sub>Click the 'Search' box or scroll down to search for a book/s.</sub>
        <div class="buttonbox">
        <button><a href="#search">Search</a></button>
        </div>
    </div>
</div> 
<div class="search" id="search">
    <h1>Welcome to my Library.</h1>
    <form method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" placeholder="enter"><br>
        <label for="author">Author of the book:</label><br>
        <input type="text" id="author" name="author"><br><br>
        <label for="author">ISBN:</label><br>
        <input type="text" id="author" name="author"><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>

{% endblock %}