<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="title">Title:</label><br>
        <input type="title" id="title" name="title" placeholder="'Animal Farm'"><br>
        <label for="author">Author of the book:</label><br>
        <input type="author " id="author" name="author" placeholder="'George Orwell'"><br>
        <label for="isbn">ISBN:</label><br>
        <input type="isbn " id="isbn" name="isbn" placeholder="'1122334455667'"><br>
       
       


        <input type="submit" value="Submit">
    </form>
</body>
</html>