{% extends "base.html" %} <!-- connects the content in base.html to this file -->

{% block title %} Library - Lend {% endblock %} <!-- adds title to the page -->

{% block content%} <!-- prints the content inside of it -->
<body>
    <div class="lend_form">
        <form method="POST">
            <label for="title">Title:</label><br>
            <input type="title" id="title" name="title" placeholder="'Animal Farm'"><br>
            <label for="author">Author of the book:</label><br>
            <input type="author " id="author" name="author" placeholder="'George Orwell'"><br>
            <label for="isbn">ISBN:</label><br>
            <input type="isbn " id="isbn" name="isbn" maxlength="13" size="13" placeholder="'1122334455667'"><br>
            <label for="isbn">Description:</label><br>
            <input type="desc " id="desc" name="desc" ><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

{% endblock %}