{% extends "base.html" %} <!-- connects the content in base.html to this file -->

{% block title %} Library - Searched {{searchterm}} {% endblock %} <!-- adds title to the page -->

{% block content%} <!-- prints the content inside of it -->
<body>
  <div class="searchresults">
      {%if results%}
        <h2 class="results">Results for '{{searchterm}}'</h2>
        {% for result in results %}
            <div class="bookrow">
              <div class="searchbooks">
                <div class="single_books" >
                    <a href="{{url_for('views.borrow_book', booktitle=result.title, book_id=result.id)}}">
                      <h3 class="id">{{ result.id }}</h3>
                      <h3 class="label">{{ result.title }}</h3>
                      <h4 class="label">{{ result.author }}</h4>
                      <h4 class="label">{{ result.dop}}</h4>
                      <h4 class="label">{{ result.isbn }}</h4>
                    </a>
                    <a href="{{url_for('views.edit', book_id=result.id)}}">
                      <sub>Edit</sub>
                    </a>
                </div>
              </div>
            </div>
    </div>
      {% endfor %}
      {%else%}
      <div class="no-resldiv">
        <h1 class="noresult">No results for ' {{searchterm}} '</h1>
        <h3 class="noresult"> Oops, looks like the book you have searched have already been borrowed or does not exist in our database. :(</h3>
        <a class="noresult" href="{{ url_for('views.lend') }}">Lend it!</a>
      </div>
      {%endif%}
  </div>
</body>

{% endblock %}
