body, html {
  height: 100%;
  margin: 0;
  background-image: url('/static/img/bodyimg.jpg');
  background-position: center;
  background-position: fixed;
  background-size: cover;
}
.frontpage {
  background-image: url('/static/img/frontpage.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: fixed;
  background-size: cover;
  }
.frontpage h1 {
  padding-top: 17%;
  margin: 0;
  text-shadow: 1px 1px 4px black;
  color: cornsilk;
  font-size: 70px;
}
.frontpage sub {
  text-shadow: 1px 1px 2px black;
  font-size: 15px;
  color: rgb(179, 175, 175) ;
}
.frontpage button, a{
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border-radius: 4px;
  border-color: gray;
  font-size: 14 px;
  text-decoration: none;
  text-shadow: 1px 1px 7px black;
  color: black;
}
.frontpage .buttonbox :hover {
  background-color: aliceblue;
  text-decoration: none;
}
.frontpage h1, button, sub {
  margin-left: 10%;
}


.body {
  margin-left: 5%;
  margin-right: 5%;
  border-style: double;
  height: 100%;
  background-color: rgb(174, 159, 128);
  
  }
.body h1 {
    color: blue;
  }
.body p {
    color: red;
  }
