body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #004759;
}
/* --------------------nav-------------------- */
.navbar {  
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%; 
  border-radius: 2px 2px 2px;
  display: inline-block;

}
.navbar a {
  color: rgb(206, 202, 202);
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#nav.active{
  background-color: #127189;
}
.logo {
  float:left;
}
.nav_left {
  margin-left: 10%;
  
}
.nav_right {
  margin-right: 10%;
}
.nav_left a{
  float: left;
  display: block;
  margin-right:2%;
  margin-left: 0.5%;
  margin-top: 3.3%;
  text-decoration: none;
}
.nav_right a{
  float: right;
  display: block;
  margin-right:2%;
  margin-left: 2%;
  margin-top: 3.3%;
  text-decoration: none;
}
/* --------------------nav-------------------- */

/* --------------------frontpage-------------------- */
.frontpage {
  background-image: linear-gradient(rgba(4,9,5,0.7), rgba(4,9,5,0.7)),url('/static/img/frontpage.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: fixed;
  background-size: cover;
  padding-bottom: 20%;
  }

.frontpage .text {
  padding-top: 20%; 
  text-align: center;
  text-decoration: none;
}
.text h1  {
  color:  rgb(235, 228, 228);
  font-size: 100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text a { 
  text-decoration: none;
}
/* --------------------frontpage-------------------- */

/* --------------------search-------------------- */
.search {
  padding: 10%;
  background-color:#003a49;
  padding-top: 5%;
  
  }
.search h1 {
    color: white;
    text-align: center;
  }
.search .form {
    text-align: center;
  }
.search label {
  font-size: 20px;
}
.search a {
  color: white ;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}
input[type=search]:focus {
  width: 100%;
}
input[type=search] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/static/img/searchicon.svg');
  background-position: 5px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
.results {
  color: white;
  padding-top: 10%;
  padding-left: 5%;
}
.no-resldiv {
  padding-top: 10%;
  padding-left: 5%;
}
.noresult {
  color:white;
  text-decoration: none;

}
/* --------------------search-------------------- */

/* --------------------/books-------------------- */ 
.bookbody {
  background-color: #004759;
}
.book_frontimage {
  background-image: linear-gradient(rgba(4,9,5,0.7), rgba(4,9,5,0.7)),url('/static/img/bookfooter.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: fixed;
  background-size: cover;
  padding: 7%;
}
.book_frontimage h1 {
  font-size: 100px;
  text-align: center;
  color: rgb(235, 228, 228);
}
.books {
  padding: 5%;
  max-lines: 1, 10;
  justify-content: space-between; 
  display: flex;
  align-items: center;
  text-decoration: none;
}
.single_books  {
  padding: 3%;
  max-width: 17%;
  max-height: 1000px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 2px 2px 3px;
}
.searchbooks {
  margin-top: 5%;
  margin-left: 5%;
}
.id {
  text-decoration: none;
  text-align: left;
  color: #004759;
}
.label {
  color: #004759;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.single_books a {
  text-decoration: none;
}
/* --------------------/books-------------------- */ 

/* --------------------lend/edit-------------------- */ 
.lend {
  background-image: linear-gradient(rgba(4,9,5,0.7), rgba(4,9,5,0.7)),url(/static/img/booksbackground.jpg);
  background-repeat: repeat;
  background-position: center;
  background-position: fixed;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.row button {
  background-color: #aa1704;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  position: absolute;
  text-align: center;
  position: relative ; bottom:80px; top:2px;
}
.row button:hover {
  background-color: #961a1a;
}
.container {
  border-radius: 5px;
  background-color: #127189;
  padding: 20px;
  margin: 10%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  color: rgb(235, 228, 228);
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, button {
    width: 100%;
    margin-top: 0;
  }
}
/* --------------------lend/edit-------------------- */ 

/* --------------------borrow-------------------- */ 
.container_borrow {
  border-radius: 5px;
  background-color: #127189;
  padding: 20px;
  margin: 3%;
}
.details-24{
  text-align: center;
  box-shadow: 2px 2px 3px;
  border-radius: 5px;
  background-color: #127189;
  padding: 20px;
  margin: 3%;
  margin-top: 10%;
  display: inline-block;
}
.label-24 {
  text-decoration: none;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  color: #454545;
  background-color: rgb(235, 228, 228);
  padding: 2%;
  border-radius: 5px;
}
.desc-24 {
  text-decoration: none;
  text-align: left;
  color: #454545;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(235, 228, 228);
  padding: 2%;
  border-radius: 5px;
  line-height: 20px;
}
/* --------------------borrow_form-------------------- */ 

/* --------------------delete-------------------- */ 
html {
  height: 100%;
}
.del {
  background-image: linear-gradient(rgba(4,9,5,0.7), rgba(4,9,5,0.7)),url(/static/img/booksbackground.jpg);
  background-repeat: repeat;
  background-position: center;
  background-position: fixed;
  background-size: cover;
}
.delete_form {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;

}
.container_del {
  border-radius: 5px;
  background-color: #127189;
  padding: 20px;
  margin: 10%;
  padding-left: 28%;
  word-spacing: 3px;
}
.container_del input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 5%;
}

.container_del input[type=submit]:hover {
  background-color: #45a049;
}
.col-26 {
  float: center;
  text-align: center;
  width: 50%;
  margin-top: 6px;
  color: rgb(235, 228, 228);
}
.warn {
  color: #970505;
}
.col-76 {
  float: center;
  width: 30%;
  margin-top: 6px;
  margin-left: 9%;
}
/* --------------------delete-------------------- */ 

/* --------------------error-------------------- */ 
.error {
  position: absolute;
  background-color: #12434f;
  color: rgb(235, 228, 228);
  border-radius: 10px;
  text-align: center;
  margin-left: 2%;
  padding-right: 2%;
}
.flashes {
  list-style-type: none;
}
/* --------------------error-------------------- */ 