body, html {
  height: 100%;
  margin: 0;
}

.frontpage {
  background-image: url('/static/img/frontpage.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: fixed;
  background-size: cover;
  }
/* ---------------------------------------- */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {  
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%; 
}

.nav_right a  {
  float: right;
  display: block;
  color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  padding: 14px 16px;
  margin: 0.5%;
  margin-top: 1.25%;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 1px 1px 7px black;
}

.nav_right a:hover {
  background-color: #c3a68b;
}
#navbar .logo {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: left;
}
#navbar .nav_right {
  margin-right: 10%;
}
/* --------------------/books-------------------- */ 

.bookbody {
  background-color: rgb(47, 47, 48);
  margin: 2%;
  border-radius: 10px;
}
.books {
  padding: 5%;
  max-lines: 1, 10;
  justify-content: space-between; 
  display: flex;
  align-items: center;
}
.single_books {
  padding: 2%;
  width: 10%;
  height: 10%;
  background-color: rgb(61, 72, 76);
  border-radius: 4px;
  text-align: center;
  box-shadow: 2px 2px 3px;
}
.single_books h2, h3 {
  font-style: italic;
  color: white;
}
/* --------------------/books-------------------- */ 

.search {
  margin-left: 5%;
  margin-right: 5%;
  border-style: double;
  height: 100%;
  background-color: rgb(174, 159, 128);
  
  }
.search h1 {
    color: blue;
  }
.search p {
    color: red;
  }
